<div class="section-background color-{{ section.settings.color_scheme }}"></div>

<div
  class="section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} spacing-style"
  style="{% render 'spacing-style', settings: section.settings %}"
>
  <div class="page-width animals__section">
    <div class="section">
      <div class="animals-left__wrap">
        <div class="animals__images animals__images__left">
          {% if section.settings.image_1 != blank %}
            <img
              src="{{ section.settings.image_1 | image_url: width: 800 }}"
              alt="{{ section.settings.image_1.alt | escape }}"
              loading="lazy"
            >
          {% endif %}
        </div>

        <div class="animals__text">
          {% if section.settings.heading != blank %}
            <h3>{{ section.settings.heading }}</h2>
          {% endif %}

          {% if section.settings.paragraph_1 != blank %}
            <p class="animals__paragraph">{{ section.settings.paragraph_1 }}</p>
          {% endif %}

          <div class="animals__icon">
             {% if section.settings.image_2 != blank %}
              <img
                src="{{ section.settings.image_2 | image_url: width: 80 }}"
                alt="{{ section.settings.image_2.alt | escape }}"
                loading="lazy"
              >
            {% endif %}

             {% if section.settings.paragraph_1 != blank %}
               <p class="animals__features">{{ section.settings.paragraph_2 }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
.animals__section {
  border-bottom: 0.3px solid var(--color-border);
}

.animals-left__wrap {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
}

.animals__images {
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  align-items: center;
}

.animals__images__right {
  border-left: 0.3px solid var(--color-border);
  padding-left: 48px;
}

.animals__images__left {
  border-right: 0.3px solid var(--color-border);
  padding-right: 48px;
}

.animals__text {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
}

.animals__text p {
  margin: 0;
  margin-bottom: 24px;
}

.animals__text p:last-child {
  margin-bottom: 0;
}

.animals__icon {
  margin-top: 32px;
  font-size: 14px;
}

.animals__icon img {
  height: 40px;
  width: auto;
  margin-bottom: 24px;
}

/* ======================================
   TABLET (≤768px)
====================================== */
@media (max-width: 768px) {

    .animals__section {
      border-bottom:0;
    }
    
  .animals-left__wrap {
    grid-template-columns: 1fr;
  }

  .animals__images {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    height: auto;
  }

  .animals__images__right,
  .animals__images__left {
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0.3px solid var(--color-border);
    padding-bottom: 32px;
  }

  .animals__text {
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .animals__icon {
    margin-top: 24px;
  }

  .animals__icon img {
    height: 36px;
  }
}

/* ======================================
   MOBILE (≤460px)
====================================== */
@media (max-width: 460px) {

  .animals__images {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .animals__text {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .animals__icon {
    margin-top: 20px;
  }

  .animals__icon img {
    height: 32px;
  }

    .animals__images__right {
      border-left: 0;
    }

    .animals__images__left {
      border-right: 0;
    }
}
{% endstylesheet %}

{% schema %}
{
  "name": "Animals Left",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "This is your section heading"
    },
    {
      "type": "richtext",
      "id": "paragraph_1",
      "label": "Description",
      "default": "<p>This is your section heading</p>"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second image"
    },
    {
      "type": "richtext",
      "id": "paragraph_2",
      "label": "Features",
      "default": "<p>This is your features section</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top padding (px)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom padding (px)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Animals Left",
      "category": "Custom"
    }
  ]
}
{% endschema %}
