<div class="section-background color-{{ section.settings.color_scheme }}"></div>

<div
  class="section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} spacing-style"
  style="{% render 'spacing-style', settings: section.settings %}"
>
  <div class="page-width">
    <div class="section">
      <div class="text-with-two-columns__text">
        {% if section.settings.heading != blank %}
          <h2>{{ section.settings.heading }}</h2>
        {% endif %}

        {% if section.settings.paragraph_1 != blank %}
          <p class="text-with-two-columns___paragraph">{{ section.settings.paragraph_1 }}</p>
        {% endif %}

        {% if section.settings.paragraph_2 != blank %}
          <p class="text-with-two-columns___paragraph">{{ section.settings.paragraph_2 }}</p>
        {% endif %}
      </div>
    </div>
      <div class="text-with-two-columns__images">
        {% if section.settings.image_1 != blank %}
          <img
            src="{{ section.settings.image_1 | image_url: width: 800 }}"
            alt="{{ section.settings.image_1.alt | escape }}"
            loading="lazy"
          >
        {% endif %}

        {% if section.settings.image_2 != blank %}
          <img
            src="{{ section.settings.image_2 | image_url: width: 800 }}"
            alt="{{ section.settings.image_2.alt | escape }}"
            loading="lazy"
          >
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
 
{% endstylesheet %}

{% schema %}
{
  "name": "Two Columns Text And FI",
  "settings": [
    {
      "type": "textarea",
      "id": "paragraph_1",
      "label": "First paragraph",
      "default": "This is the first text block in your section."
    },
      {
      "type": "textarea",
      "id": "paragraph_2",
      "label": "Second paragraph",
      "default": "This is the second text block in your section."
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "First image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top padding (px)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom padding (px)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Two Columns Text And Full With Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
